<nav id="navi">
  <ul>
    <li><a href="index.html"><img src="strona_glowna.png" alt="tekst alternatywny"/></a></li>
    <li><a href="#second">Blog</a></li>
    <li><a href="quiz.html">Quiz</a></li>
    <li><a href="kontakt.html">Kontakt</a></li>

  </ul>
</nav>

<h1 class="h2">Quiz </h1>
<div class="quiz-container">
  <div class="quiztest" id="quiz"></div>
</div>
<div class="quiz-container">
  <button id="previous">Poprzednie pytanie</button>
  <button class="buttonright" id="next" onclick="move()">Następne pytanie</button>
  <button id="submit">Podsumowanie</button>
  <div class="result">
    <div id="results"></div>
  </div>
</div>
<script src="script.js">
</script>

